header, body, footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #141414;
    color: #CCCDCB;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

a {
    text-decoration: none;
}